/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.auth .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-dialog {
    max-width: 500px;
}